<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div>ユーザーを新規登録する</div>
	<div>ユーザーIDとパスワードを入力して、「登録する」をクリックしてください。</div>
	<div>データベースの「training_user」テーブルで登録結果を確認してください。</div>
	<form method="post" th:action="@{/lesson02_02/create/complete}">
		id:<input type="number" name="id" />
		userId:<input type="text" name="userId" />
		password:<input type="password" name="password" />
		<input type="submit" value="登録する" />
	</form>
	<hr />
	<div>データの更新</div>
	<form method="post" th:action="@{/lesson02_02/create/update}">
		id:<input type="number" name="id" />
		userId:<input type="text" name="userId" />
		password:<input type="password" name="password" />
		<input type="submit" value="更新する" />
	</form>
	
	
</body>
</html>